@import url("./styles.css");
 
body {
    background-color: var(--lightblue);
    background-image: url("../assets/bg.png");
}

.about-text h1 {
    text-align: center;
    margin-top: 2.5em;
    color: var(--yellow)
}

.about-image {
    display: flex;
    align-items: center;
}

.about-image .right {
    padding: 2rem;
    background-color: white;
    border-radius: 16px;
}

.about-image .right p {
    font-size: 1.325rem;
}

.courses h2{
    color: var(--yellow);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3.25rem;
    margin-bottom: 2.325rem;
}

.courses-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.325rem;
    flex-wrap: wrap;
}

.courses-list span {
    background-color: white;
    padding: 1.5rem 1.325rem;
    width: 30%;
    text-align: center;
    font-size: 1.325rem;
    border-radius: 1rem;
    margin-block: 0.5rem;
}

@media screen and (max-width: 1250px) {
    .about-image {
        flex-direction: column;
    }
    .about-image .right p {
        font-size: 1.1rem;
    }
    .about-image .right {
        margin-inline: 0.825rem;
    }
}

@media screen and (max-width: 1000px) {
    .courses-list span{
        width: 45%;
    }
}

@media screen and (max-width: 1000px) {
    .courses-list span{
        width: 100%;
    }
}